72 ページに対するフィードバック

問題を指摘してください。代案は不要です。なお、マンパワーの都合でissue上では無反応の可能性が高いです。ごめんなさい。

 * 具体的に指摘をいただきたいポイント
    - 内容の間違い
    - 解説がほしいトピック
    - 意味が取れない段落
* 下記の指摘も歓迎です（grepをかけるので存在の指摘だけで十分です）
    - 技術用語の不統一
    - スペルミス、誤字、脱字
* 下記については、指摘は不要です（3月までには自然に直ります）
    - 日本語表記（漢字や送り仮名）の不統一
    - レイアウトの不備
    - その他、局所的な日本語の問題

「TTLが Hop Limit になったり…しているのはフィールドの名称だけが変更されたものであり…」
IPv4では、TTLの意味は文字通りパケットの最大生存時間を秒で記載したものでした。
ただモジュール通過ごとに最低でも1減らすというルールもあり、実質のところ最大ホップ数として動作していました。
IPv6では、これをきちんと最大ホップ数として定義し直したため、名前を変えたという経緯があります。
(RFC8200 Section 8.2 Maximum Packet Lifetime)